body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#pinkboard {
    position: absolute;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#text-overlay {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #ea80b0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 10;
    pointer-events: none; /* Teks tidak mengganggu interaksi */
}
